{% extends "base.html" %}

{% load static %}

{% block title %}Indicator{% endblock %}

{% block content %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark z-index-9  fixed-top" id="mainNav">

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav navbar-sidenav background-main-color admin-nav" id="admin-nav">
                <li class="nav-item">
                    <span class="nav-title-text">Main</span>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{% url "users:index" %}">
                        <i class="fas fa-fw fa-home"></i><span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My items">
                    <a class="nav-link" href="{% url "visit_records:visit_list" %}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">My Appointments</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My items">
                    <a class="nav-link" href="{% url "analyzes_records:test_list" %}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">My Analyzes</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My items">
                    <a class="nav-link" href="{% url "analyzes_records:calendar" %}">
                        <i class="fa fa-fw fa-calendar"></i>
                        <span class="nav-link-text">Analyzes Calendar</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My items">
                    <a class="nav-link" href="{% url "health_indicators:indicator_list" %}">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">My Indicators</span>
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-title-text">Add Pages</span>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Listing">
                    <a class="nav-link active" href="{% url "visit_records:add_appointment" %}">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add Appointment</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Listing">
                    <a class="nav-link active" href="{% url "analyzes_records:add_analysis" %}">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add Analysis</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Add Listing">
                    <a class="nav-link active" href="{% url "health_indicators:add_indicator" %}">
                        <i class="fa fa-fw fa-plus-circle"></i>
                        <span class="nav-link-text">Add Indicator</span>
                    </a>
                </li>
                <li class="nav-item">
                    <span class="nav-title-text">User Area</span>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Profile">
                    <a class="nav-link" href="{% url "users:edit_profile" %}">
                        <i class="fa fa-fw fa-user-circle"></i>
                        <span class="nav-link-text">My Profile</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sing Out">
                    <a class="nav-link" href="{% url "users:logout" %}" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i>
                        <span class="nav-link-text">Sing Out</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div id="page-title" class="padding-tb-30px gradient-white">
                <div class="container">
                    <ol class="breadcrumb opacity-5">
                        <li><a href="{% url "users:index" %}">Home</a></li>
                        <li><a href="{% url "health_indicators:indicator_list" %}">My Indicators</a></li>
                        <li class="active">Indicator</li>
                    </ol>
                    <h1 class="font-weight-300">{{ indicator.get_indicator_type_display }}
                        / {{ indicator.indicator_date }}</h1>
                </div>
            </div>

            <div class="margin-tb-10px">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="margin-bottom-30px box-shadow">
                                <div class="padding-30px background-white">
                                    <h3>
                                        <i class="far fa-hospital margin-right-10px text-main-color"></i>
                                        {{ indicator.get_indicator_type_display }} / {{ indicator.indicator_date }}
                                    </h3>
                                    <br>
                                    {% if indicator.indicator_time is not Null %}
                                        <h5>Time:</h5>
                                        <p>{{ indicator.indicator_time }}</p>
                                    {% endif %}
                                    <h5>Value: </h5>
                                    <p>{{ indicator.value }}</p>
                                    <br>
                                    {% if obj.comment %}
                                        <h5>Comment: </h5>
                                        <p>{{ indicator.comment }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
