{% extends "base.html" %}

{% load static %}
{% load crispy_forms_filters %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container margin-bottom-10px">
        <!--======= log_in_page =======-->
        <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">
            <div class="form-output">
                <form method="POST" class="post-form">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Save</button>
                    <div class="or"></div>
                    <p>Don't you have an account? <a href="{% url "users:register" %}">Register Now!</a></p>
                </form>
            </div>
        </div>
        <!--======= // log_in_page =======-->
    </div>
{% endblock %}